@import url("components/card.css");
@import url("components/form.css");
@import url("components/tableau.css");
@import url("components/fleches.css");
@import url("components/resultats.css");
@import url("components/sections.css");

/* ======================= GÉNÉRAL ======================= */
:root {
  --primary: #03bd2e;          /* Vert professionnel */
  --primary-light: #e9f9ee;    /* Vert clair de fond */
  --text-dark: #1a1a1a;
  --border-color: #cde7d6;
}

body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #f4f6f9;
  color: #2c3e50;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 2rem;
  background-image: url("../images/mur_blanc.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  image-rendering: auto;          /* Laisse le navigateur gérer le rendu */
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: 0 1rem;
}

body h1, body h2, body h4 {
  color: rgb(2, 43, 2);
  font-weight: 600;
}

h1 {
  color: var(--text-dark);
  font-weight: 600;
}

h4 {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 1.25rem;
}
